@import "element-variables.scss";

* {
  box-sizing: border-box;
}
html{
  height: 100%;
  word-break: break-word;
}
body{
  height: 100%;
  margin: 0;
  background-color: $body-bg-color;
  color: $body-color;
}

/* 边距 */
.mt0{ margin-top: 0;}
.mr5{ margin-right: 5px;}
.mb5{ margin-bottom: 5px;}
.mt10{ margin-top: 10px;}
.mr10{ margin-right: 10px;}
.mb10{ margin-bottom: 10px;}
.mt15{ margin-top: 15px;}
.mr15{ margin-right: 15px;}
.mb15{ margin-bottom: 15px;}
.ml15{ margin-left: 15px;}
.mlr15{ margin-left: 15px; margin-right: 15px;}
.mtb15{ margin-top: 15px; margin-bottom: 15px;}
.m15 { margin: 15px;}
.mt20{ margin-top: 20px;}
.mr20{ margin-right: 20px;}
.mb20{ margin-bottom: 20px;}
.ml20{ margin-left: 20px;}
.mlr20{ margin-left: 20px; margin-right: 20px;}
.mtb20{ margin-top: 20px; margin-bottom: 20px;}
.m20 { margin: 20px;}
.mt30{ margin-top:30px;}
.pt20{ padding-top: 20px;}
.ml-nav{ margin-left: $nav-width;}

.pageContent{ margin: 0 20px 20px 220px;padding-top:80px;}
ul, li{margin:0;padding:0;list-style:none;}
a{ text-decoration: none;}

/* 浮动 */
.fl{ float: left;}
.fr{ float: right;}
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix { zoom: 1;}

/* 显示 */
.display-in{ display: inline-block;}
.display-none{ display: none;}
.display-block{ display: block !important;}

/* 文本 */
.text-left { text-align: left;}
.text-right { text-align: right;}
.text-center { text-align: center;}
.text-top { vertical-align: top;}

/* 字体 */
.font12 { font-size: 12px;}
.font14 { font-size: 14px;}
.font16 { font-size: 16px;}
.font17 { font-size: 17px;}
.font18 { font-size: 18px;}
.font20 { font-size: 20px;}
.font24 { font-size: 24px;}
.font40 { font-size: 24px;}
.fontWeight{ font-weight: bold;}

/* 分页 */
.el-pagination{
    font-weight: normal;
}

/*dialog*/
.el-dialog__header{
  height: 40px;
  line-height: 40px;
  padding: 0;
  padding-left: 20px;
  font-size: 16px;
  background: #F8F8F8;
  border-bottom: 1px solid #DDDDDD;
}
.el-dialog__headerbtn{
  top:12px;
}

/*表格*/
.el-table thead th{
  background: #FAFAFA;
}
.el-table th>.cell .el-checkbox__input{
  padding-left: 4px;
}

.el-table .el-link.el-link--default.is-underline{
    font-size: 12px;
    border-bottom: 1px solid #C0C4CC;
    &:hover{
        border: none;
    }
}
/*tabs*/
.el-tabs__item{
    cursor: pointer;
}

/*表单*/
textarea{
    font-family: inherit;
}
.el-input.is-disabled .el-input__inner, .el-textarea.is-disabled .el-textarea__inner{
  color: #606266;
}
.el-radio__input.is-disabled+span.el-radio__label{
    color: inherit;
}
.el-radio__input.is-disabled.is-checked+span.el-radio__label{
    color: #409EFF;
}
.el-radio__input.is-disabled.is-checked .el-radio__inner{
    border-color: #409EFF;
    background: #409EFF;
}
.el-radio__input.is-disabled.is-checked .el-radio__inner::after{
    background-color: #FFFFFF;
}
.el-form-item--small .el-radio{
    line-height: 32px;
}
.el-form-item.no-label .el-form-item__content{
    margin-left: 0 !important;
}
.el-input .el-icon-circle-close, .el-date-editor .el-range__close-icon{
    color: #F56C6C !important;
}
.line-height20.el-form-item--small .el-form-item__content, .line-height20.el-form-item--small .el-form-item__label{
    line-height: 20px;
}

/*搜索框*/
.box-search{
  padding:20px;
  padding-bottom: 0;
  background: #FBFBFB;
  border: 1px solid #DDDDDD;
  border-radius: 5px;

    .input-barcode{
        width: auto !important;
    }
    .input-barcode input{
        width: 130px;
    }
    .input-time{
        width: 280px !important;
    }

    input, select{
        width: 280px;
    }
}

.form-box-title{
  font-size: 16px;
  font-weight: bold;
  color: $body-color;
  .icon{
    display: inline-block;
    width: 4px;
    height: 16px;
    margin-right: 8px;
    background: #409EFF;
    vertical-align: -2px;
  }

}