/*
    此文件自定义变量
*/
/* 改变 icon 字体路径变量，必需，不然会报错 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--table-header-font-color: #333333;

@import "~element-ui/packages/theme-chalk/src/index";

// body背景色
$body-bg-color: #edf5fb;

// body字体颜色
$body-color: #212121;

// 导航宽度
$nav-width: 200px;

// 头部高度
$header-height: 60px;
